$theme-colors: (
        "primary": #FFCD05,
        "secondary": #669999,
);

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


// These are the defaults, but you can override any values
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;


.spacer{
  height: 65px;
}

.navbar-toggler{
  border-style: none !important;
  padding-right: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 0.3em;
}

.icon-large {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 0.5em;
}

/* contact social icons */

.contact-icon-container{
  display: flex;
  align-items: center;
}

.contact-icon-background{
  height: 35px;
  width: 35px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%
}
.contact-icon{
  stroke-width: 0;
  stroke: white;
  fill: white;
  height: 20px;
  width: 20px;
  overflow: hidden;
  //background-color: white;
}

.facebook-blue{
  background-color: #2c4762;
}

.whatsapp-green{
  background-color: #16b632;
}

.messenger-blue{
  background-color: #0078FF;
}

.phone-orange{
  background-color: darkorange;
}

.sms-green{
  background-color: #1fce26;
}

.email-red{
  background-color: #e94431;
}


.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  color: white !important;
  max-width: 65%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight:400 !important;
}
#contact-us .list-unstyled li{
  padding-bottom: 1em;
}

.referral {
  display: none !important;
}

.section-image{
  height: 150px;
}

.circular-image{
  border-radius: 50%;
  border: 1px solid lightgray;
}

.container, .container-fluid{
  padding-top: 20px;
}

.back-to-top {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */

  align-items: center;
  justify-content: center;
}
.back-to-top .icon{
  margin-right: 0;
}

@import "../bootstrap/scss/bootstrap";
//// Required
//@import "../bootstrap/scss/functions";
//@import "../bootstrap/scss/variables";
//@import "../bootstrap/scss/mixins";
//
//// Optional
//@import "../bootstrap/scss/root";
//@import "../bootstrap/scss/reboot";
//@import "../bootstrap/scss/type";
//@import "../bootstrap/scss/images";
//@import "../bootstrap/scss/code";
//@import "../bootstrap/scss/grid";
//@import "../bootstrap/scss/navbar";
//@import "../bootstrap/scss/buttons";
//@import "../bootstrap/scss/position";


/* nav bar */
.nav-link.active img {
  visibility: visible;
}

.nav-link img {
  visibility: hidden;
}

/* section-content  */
.section-content {
  padding: 20px;
}

/* sections */
.more-info {
  padding-top: 20px;
}
